# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
%pip install pymongo

Collecting pymongo
  Using cached pymongo-4.1.0-cp39-cp39-win_amd64.whl (363 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pymongo import MongoClient

client = MongoClient()

db = client.companies
colec = db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [11]:
ans1 = list(colec.find({'name' : 'Babelgum'},
          {'_id' : 0, 'name' : 1}))
print(ans1[0])

{'name': 'Babelgum'}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [47]:
ans2 = list(colec.find({'number_of_employees' : {'$gte' : 5001}},
                       {'_id' : 0, 'name' : 1, 'number_of_employees' : 1}
                      ).limit(20).sort('number_of_employees', -1))
ans2[0]

{'name': 'Siemens', 'number_of_employees': 405000}

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [24]:
ans3 = list(colec.find({'$and' : [{'founded_year' : {'$gte' : 2000}},
                                  {'founded_year' : {'$lte' : 2005}}]},
                      {'_id' : 0, 'name' : 1, 'founded_year' : 1}))
ans3[0]

{'name': 'Wetpaint', 'founded_year': 2005}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [33]:
ans4 = list(colec.find({'$and' : [{'ipo.valuation_amount' : {'$gt' : 100000000}},
                                  {'founded_year' : {'$lt' : 2010}}]},
                      {'_id' : 0, 'name' : 1, 'ipo.valuation_amount' : 1}))
ans4[0]

{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [34]:
ans5 = list(colec.find({'$and' : [{'number_of_employees' : {'$lt' : 1000}},
                                  {'founded_year' : {'$lt' : 2005}}]},
                      {'_id' : 0, 'name' : 1, 'number_of_employees' : 1,
                      'founded_year' : 1}).sort('number_of_employees').limit(10))
ans5[0]

{'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003}

### 6. All the companies that don't include the `partners` field.

In [91]:
ans6 = list(colec.find({'partners' : {"$exists": 'false'}},
                      {'_id' : 0, 'name' : 1}))

ans6[0]

{'name': 'Wetpaint'}

### 7. All the companies that have a null type of value on the `category_code` field.

In [53]:
ans7 = list(colec.find({'category_code' : {"$type": 'null'}},
                      {'_id' : 0, 'name' : 1}))

ans7[0]

{'name': 'Collective'}

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [55]:
ans8 = list(colec.find({'$and' : [{'number_of_employees' : {'$gte' : 100}},
                                  {'number_of_employees' : {'$lt' : 1000}}]},
                      {'_id' : 0, 'name' : 1, 'number_of_employees' : 1}))
ans8[0]

{'name': 'AdventNet', 'number_of_employees': 600}

### 9. Order all the companies by their IPO price in a descending order.

In [60]:
ans9 = list(colec.find({ }, 
                      {'_id' : 0, 'name' : 1, 'ipo.valuation_amount' : 1}
                      ).sort('ipo.valuation_amount', -1))
ans9[0]

{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}}

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [63]:
ans10 = list(colec.find({ }, 
                      {'_id' : 0, 'name' : 1, 'number_of_employees' : 1}
                      ).limit(10).sort('number_of_employees', -1))

ans10

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [66]:
ans11 = list(colec.find({'founded_month' : {'$gte' : 7}}, 
                      {'_id' : 0, 'name' : 1, 'founded_month' : 1}
                      ).limit(1000))

ans11[0]

{'name': 'Wetpaint', 'founded_month': 10}

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [71]:
ans12 = list(colec.find({'$and' : [{'founded_year' : {'$lt' : 2000}},
                                  {'acquisition.price_amount' : {'$gt' :10000000}}]},
                      {'_id' : 0, 'name' : 1, 'founded_year' : 1, 'price_amount' : 1}))
ans12[0]

{'name': 'Postini', 'founded_year': 1999}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [72]:
ans13 = list(colec.find({'acquisition.acquired_year' : {'$gt' : 2010}},
                      {'_id' : 0, 'name' : 1, 'acquisition' : 1}))
ans13[0]

{'name': 'Wetpaint',
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [81]:
ans14 = list(colec.find({'founded_year' : {'$ne' : None} }, 
                      {'_id' : 0, 'name' : 1, 'founded_year' : 1}
                      ).sort('founded_year'))

ans14[0]

{'name': 'Alstrasoft', 'founded_year': 1800}

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [84]:
ans15 = list(colec.find({'founded_day' : {'$lte' : 7} }, 
                      {'_id' : 0, 'name' : 1, 'founded_day' : 1}
                      ).sort('acquisition.price_amount', -1).limit(10))

ans15

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'BlueLithium', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [89]:
ans16 = list(colec.find({'$and' : [{'category_code' : 'web'},
                                  {'number_of_employees' : {'$gt' : 4000}}]},
                      {'_id' : 0, 'name' : 1, 'number_of_employees' : 1}
                       ).sort('number_of_employees'))
ans16

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [94]:
ans17 = list(colec.find({'$and' : [{'acquisition.price_amount' : {'$gt' : 1e7}},
                                  {'acquisition.price_currency_code' : 'EUR'}]},
                      {'_id' : 0, 'name' : 1, 'acquisition.price_amount' : 1, 'acquisition.price_currency_code' : 1}
                       ))
ans17[0]

{'name': 'ZYB',
 'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}}

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [96]:
ans18 = list(colec.find({'acquisition.acquired_month' : {'$lte' : 3}},
                      {'_id' : 0, 'name' : 1, 'acquisition' : 1}).limit(10))
ans18[0]

{'name': 'Kyte',
 'acquisition': {'price_amount': None,
  'price_currency_code': 'USD',
  'term_code': None,
  'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
  'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
  'acquired_year': 2011,
  'acquired_month': 1,
  'acquired_day': 31,
  'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [108]:
ans19 = list(colec.find({'$and' : [{'founded_year' : {'$gte' : 2000}},
                                  {'founded_year' : {'$lte' : 2010}},
                                  {'acquisition.acquired_year' : {'$gt' : 2011}}]},
                      {'_id' : 0, 'name' : 1, 'founded_year' : 1, 'acquisition.acquired_year' : 1}))
ans19[0]

{'name': 'Wetpaint',
 'founded_year': 2005,
 'acquisition': {'acquired_year': 2013}}

### 20. All the companies that have been 'deadpooled' after the third year.

In [114]:
colec.find({'$where': {{'$subtract' : ['deadpooled_year', 'founded_year']} : {'$lte' : 3 }}})

TypeError: unhashable type: 'dict'