# Advanced Querying Mongo

Importing libraries and setting up connection

In [18]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\alima\anaconda3\lib\site-packages (4.1.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:


from pymongo import MongoClient
cliente = MongoClient()
cliente.list_database_names() 
db=cliente.companies
colec=db.companies

In [87]:
list(colec.find({'name':'Babelgum'}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'),
  'name': 'Babelgum',
  'permalink': 'babelgum',
  'crunchbase_url': 'http://www.crunchbase.com/company/babelgum',
  'homepage_url': 'http://babelgum.com',
  'blog_url': 'http://babelgum.com/blog',
  'blog_feed_url': 'http://feeds.feedburner.com/Babelgum',
  'twitter_username': 'Babelgum',
  'category_code': 'games_video',
  'number_of_employees': None,
  'founded_year': 2007,
  'founded_month': 3,
  'founded_day': 1,
  'deadpooled_year': 2013,
  'deadpooled_month': 1,
  'deadpooled_day': 9,
  'deadpooled_url': '',
  'tag_list': 'iptv, web2ireland',
  'alias_list': '',
  'email_address': 'info@babelgum.com',
  'phone_number': '',
  'description': '',
  'created_at': 'Sat Jun 09 08:15:21 UTC 2007',
  'updated_at': 'Wed Oct 16 06:30:25 UTC 2013',
  'overview': '<p>Babelgum is an integrated web and mobile video content platform, free for users and supported by advertising, available on-demand to a global audience.</p>\n\n<p>On March 20th 2009 Babelgum released a U.S. version of its mobile video application for iPhone and iPod Touch (previously available in Italy and the UK) and simultaneously launched a redesigned website (www.babelgum.com) with a Flash-based player, offering one of the first fully integrated video mobile and web user experiences.</p>\n\n<p>Babelgum Mobile is currently available in the United States, UK, Italy, Germany, France and Spain and over 50 other countries across the globe on iPhone 3G, iPod Touch, Google Android G-Phones 1 and 2, Nokia (N96, N95 and 6210) via 3G and WiFi.</p>\n\n<p>Babelgum is an independent and privately held company with offices in the United States, UK, Ireland, France and Italy.</p>\n\n<p>TRAFFIC FIGURES</p>\n\n<p>In July 2009 Babelgum recorded on its website over 2 million monthly unique users worldwide â€“ 1.7 million in the US alone (Source: comScore). Over 2 million people have downloaded the Babelgum mobile applications and watched videos on them.</p>\n\n<p>DEVELOPMENT STRATEGY</p>\n\n<p>In Europe, Babelgum made a strategic agreement with Vodafone to launch a mobile service that allows users to watch videos for free also over 3G networks (Vodafone supports marketing campaigns through SMS and other PR activities targeting their Customer Base). Babelgum is also seeking selected strategic partnerships in the United States.</p>\n\n<p>BABELGUMâ€™S EDITORIAL APPROACH TO CONTENT</p>\n\n<p>Positioned between user generated video hubs and network TV-oriented destinations, Babelgum has a unique editorial approach which focuses on the third part of the ecosystem: innovative, professionally produced content on very specific passions curated by experts in their fields. </p>\n\n<p>The editorial team is driven by professional publishers who scout and select programming for the following channels: Music, Comedy, Film, Our Earth (dedicated to nature and the environment) and Metropolis (all about urban culture and trends). </p>\n\n<p>The mobile and web platforms are integrated functionally and graphically and complement each other, although mobile programming is more carefully tailored to local markets, based on research into national tastes and viewing habits. </p>\n\n<p>Babelgumâ€™s content comprises independent and mainstream programming as well as exclusive original productions.</p>\n\n<p>LIST OF MAIN CONTENT PROVIDERS:</p>\n\n<p>Babelgumâ€™s content partners include, among others, EMI, Sony BMG, the New York Times, PBS, BBC, VBS, Lonely Planet, Coolhunting, National Geographic, Funny or Die, T5M, Shine Limited, Cinetic Rights Management, Content Republic, Gong Anime, The Workbook Project, Cinelan, Power to the Pixel and Off the Fence as well as the Seattle, Encounters, Los Angeles, and Hamptons film festivals.</p>\n\n<p>ONLINE VIDEO COMPETITIONS:</p>\n\n<p>The company has also set up a series of online contests to nurture independent film, music and art talent: the Babelgum Online Film Festival, the Babelgum Music Video Awards and the Babelgum Metropolis Art Prize chaired respectively by Spike Lee, Michel Gondry and Isabella Rossellini.</p>',
  'image': {'available_sizes': [[[135, 102],
     'assets/images/resized/0006/7738/67738v2-max-150x150.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-250x250.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-450x450.png']],
   'attribution': None},
  'products': [{'name': 'Babelgum', 'permalink': 'babelgum'}],
  'relationships': [{'is_past': False,
    'title': 'CEO',
    'person': {'first_name': 'Valerio',
     'last_name': 'Zingarelli',
     'permalink': 'valerio-zingarelli'}},
   {'is_past': True,
    'title': 'CTO',
    'person': {'first_name': 'Mallku',
     'last_name': 'Caballero',
     'permalink': 'mallku-caballero'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Michael',
     'last_name': "O'Callaghan",
     'permalink': 'michael-o-callaghan'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Erik',
     'last_name': 'Lumer',
     'permalink': 'erik-lumer'}},
   {'is_past': True,
    'title': 'Engineering Director',
    'person': {'first_name': 'Mark',
     'last_name': 'Kearns',
     'permalink': 'mark-kearns'}}],
  'competitions': [{'competitor': {'name': 'Joost', 'permalink': 'joost'}},
   {'competitor': {'name': 'Zattoo', 'permalink': 'zattoo'}},
   {'competitor': {'name': 'Veoh', 'permalink': 'veoh'}},
   {'competitor': {'name': 'Vudu', 'permalink': 'vudu'}},
   {'competitor': {'name': 'Inuk Networks', 'permalink': 'inuk-networks'}},
   {'competitor': {'name': 'Participatory Culture Foundation',
     'permalink': 'participatory-culture-foundation'}},
   {'competitor': {'name': 'Next New Networks',
     'permalink': 'next-new-networks'}}],
  'providerships': [],
  'total_money_raised': '$13.2M',
  'funding_rounds': [{'id': 17,
    'round_code': 'a',
    'source_url': 'http://www.redherring.com/Article.aspx?a=21800&hed=Battle+of+the+Billionaires&sector=Regions&subsector=Europe',
    'source_description': '',
    'raised_amount': 13200000,
    'raised_currency_code': 'USD',
    'funded_year': 2005,
    'funded_month': 6,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': None,
      'person': {'first_name': 'Silvio',
       'last_name': 'Scaglia',
       'permalink': 'silvio-scaglia'}}]}],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 53.344104,
    'longitude': -6.267494}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [36]:
list(colec.find({'name':'Babelgum'},{'name':1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [63]:
list(colec.find({'number_of_employees':{'$gte':5000}},
                          
               
               {'_id': 0, 'name': 1, 'number_of_employees': 1 }
                
               ).sort('number_of employees', -1).limit(20))

[{'name': 'NetApp', 'number_of_employees': 8000},
 {'name': 'The Walt Disney Company', 'number_of_employees': 25000},
 {'name': 'Google', 'number_of_employees': 28000},
 {'name': 'Microsoft', 'number_of_employees': 90000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'Motorola Solutions', 'number_of_employees': 51000},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Intel', 'number_of_employees': 86300},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Sun Microsystems', 'number_of_employees': 33350},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Apple', 'number_of_employees': 80000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'Cisco', 'number_of_employees': 63000},
 {'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Nokia', 'number_of_employees': 125000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [86]:
list(colec.find({'$and': [{'founded_year': {'$gte':2000}},
                            {'founded_year': {'$lte': 2005}}]},
                {'_id': 0, 'name': 1,  'founded_year': 1}
               ).limit(3))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [117]:
#list(colec.find({'$and': [{'founded_year': {'$lte':2010}},
                         # 3{'ipo.valuation_amount': {'$gte': 100000000}}]},
                #{'id':0, 'name':1, 'ipo.valuation_amount':1}

              # ))
list(colec.find({'$and': [{'ipo.valuation_amount': {'$gte': 100000000}},
                          {'founded_year': {'$lte': 2010}}]},               {'_id': 0, 'name': 1, 'ipo.valuation_amount': 1}               ).limit(5))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

In [100]:
query4 = {"founded_year":{"$lt":2011}, "ipo.valuation_amount":{"$gt":100000000}}
project = {"name":1 , "ipo":1, "_id":0}
result = db["companies"].find(query4,project)
list(result)[:3]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [113]:
query5 = {"founded_year":{"$lt":2005}, "number_of_employees":{"$lt":1000}}
project = {"name":1 , "number_of_employees":1, "_id":0}
result = db["companies"].find(query5,project)
list(result)[:10]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Digg', 'number_of_employees': 60},
 {'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'Plaxo', 'number_of_employees': 50},
 {'name': 'Technorati', 'number_of_employees': 35},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'Meetup', 'number_of_employees': 75},
 {'name': 'SmugMug', 'number_of_employees': 62},
 {'name': 'Skype', 'number_of_employees': 0},
 {'name': 'Pando Networks', 'number_of_employees': 23}]

### 6. All the companies that don't include the `partners` field.

In [121]:
list(colec.find({'partners':{'$exists': 'null'}}, {'_id':0, 'name':1}).limit(3))

[{'name': 'Wetpaint'}, {'name': 'AdventNet'}, {'name': 'Zoho'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [122]:
list(colec.find({'category_code':{'$exists': 'null'}}, {'_id':0, 'name':1}).limit(3))

[{'name': 'Wetpaint'}, {'name': 'AdventNet'}, {'name': 'Zoho'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [123]:
list(colec.find({'$and': [{'number_of_employees': {'$gte': 100}},
                          {'number_of_employees': {'$lt': 1000}}]},               {'_id': 0, 'name': 1, 'number_of_employees': 1}               ).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [133]:
list(colec.find({'ipo.valuation_amount':{'$gt':0}},{'_id': 0, 'name': 1, 'ipo.valuation_amount': 1}).sort('ipo.valuation_amount').limit(5))

[{'name': 'DeNA', 'ipo': {'valuation_amount': 117900}},
 {'name': 'DeNA', 'ipo': {'valuation_amount': 117900}},
 {'name': 'GT Solar', 'ipo': {'valuation_amount': 5000000}},
 {'name': 'Vringo', 'ipo': {'valuation_amount': 11003200}},
 {'name': 'Energy and Power Solutions', 'ipo': {'valuation_amount': 25000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [132]:
list(colec.find({'number_of_employees': {'$gt': 0}},
                {'_id': 0, 'name': 1, 'ipo.valuation_amount': 1}).sort('number_of_employees, -1').limit(10))

[{'name': 'eBay', 'ipo': {'valuation_amount': None}},
 {'name': 'MeetMoi'},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Scribd'},
 {'name': 'Geni'},
 {'name': 'Digg'},
 {'name': 'AdventNet'},
 {'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [137]:
list(colec.find({'founded_month': {'$gt': 6}},
                {'_id': 0, 'name': 1, 'founded_month': 1}).limit(4))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [139]:
list(colec.find({'$and': [{'founded_year': {'$lt': 2000}},
                          {'acquisition.price_amount': {'$gt': 10000}}]},{'_id': 0, 'name': 1, 'founded_year': 1, 'acquisition.price_amount':1}).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [141]:
list(colec.find({'$and': [{'acquisition.acquired_year': {'$gt': 2010}},
                          {'acquisition.price_amount': {'$gt': 0}}]},{'_id': 0, 'name': 1, 'acquisition.acquired_year': 1, 'acquisition.price_amount':1}).sort('acquisition.price_amount',-1).limit(5))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000, 'acquired_year': 2011}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000, 'acquired_year': 2011}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000, 'acquired_year': 2013}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000, 'acquired_year': 2011}},
 {'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000, 'acquired_year': 2012}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [148]:
list(colec.find({'founded_year': {'$gt': 0}},
                {'_id': 0, 'name': 1, 'founded_year': 1}).sort('founded_year, -1').limit(10))

[{'name': 'Fox Interactive Media', 'founded_year': 1979},
 {'name': 'Twitter', 'founded_year': 2006},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Postini', 'founded_year': 1999}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [150]:
list(colec.find({'founded_day': {'$lte': 7}},
                {'_id': 0, 'name': 1, 'founded_day': 1,'acquisition.price_amount':1}).sort('acquisition.price_amount, -1').limit(10))

[{'name': 'eBay', 'founded_day': 1},
 {'name': 'Joost', 'founded_day': 1, 'acquisition': {'price_amount': None}},
 {'name': 'Fox Interactive Media', 'founded_day': 1},
 {'name': 'Helio',
  'founded_day': 1,
  'acquisition': {'price_amount': 39000000}},
 {'name': 'StumbleUpon',
  'founded_day': 1,
  'acquisition': {'price_amount': 29000000}},
 {'name': 'Geni', 'founded_day': 1, 'acquisition': {'price_amount': None}},
 {'name': 'Omnidrive', 'founded_day': 1},
 {'name': 'Facebook', 'founded_day': 1},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Gizmoz', 'founded_day': 1, 'acquisition': {'price_amount': None}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [152]:
list(colec.find({'number_of_employees': {'$gt': 4000}},
                {'_id': 0, 'name': 1, 'web': 1,'number_of_employees':1}).sort('number_of_employees, -1').limit(10))

[{'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'Google', 'number_of_employees': 28000},
 {'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Intel', 'number_of_employees': 86300},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'Cisco', 'number_of_employees': 63000},
 {'name': 'LinkedIn', 'number_of_employees': 4800}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [158]:
list(colec.find({'$and': [{'acquisition.price_amount': {'$gt': 10000}},
                          {'acquisition.price_currency_code': 'EUR'}]},
                {'_id': 0, 'name': 1, 'web': 1,'acquisition.price_amount':1,'acquisition.price_currency_code':1}).limit(3))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [159]:
list(colec.find({'acquisition.acquired_month': {'$lte': 4}},
                {'_id': 0, 'name': 1, 'acquisition.acquired_month': 1}).limit(10))

[{'name': 'StumbleUpon', 'acquisition': {'acquired_month': 4}},
 {'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'Veoh', 'acquisition': {'acquired_month': 4}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'delicious', 'acquisition': {'acquired_month': 4}},
 {'name': 'Jobster', 'acquisition': {'acquired_month': 4}},
 {'name': 'Spock', 'acquisition': {'acquired_month': 4}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code