# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/sergiomess/anaconda3/lib/python3.8/site-packages (4.1.0)

In [23]:
from pymongo import MongoClient

cliente = MongoClient()
cliente.list_database_names()
db=cliente.companies
colec=db.companies

In [54]:
# lista de colecciones

TypeError: 'Collection' object is not callable. If you meant to call the 'companies' method on a 'Database' object it is failing because no such method exists.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [104]:
query = {'name': 'Babelgum'}
campos = {"_id": 0,'name': 1}
resultado = list(colec.find(query,campos))
resultado

[{'name': 'Babelgum'}]

In [105]:
list(colec.find( {'name': 'Babelgum'},{"_id": 0,'name': 1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [114]:
list(colec.find({'number_of_employees': {'$gte': 5000}},
                {'_id': 0, 'name': 1, 'number_of_employees': 1}).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

In [94]:
query = {'number_of_employees': {'$gte': 5000}}
campos = {"_id": 0,'name': 1, 'number_of_employees':1}
resultado = list(colec.find(query,campos).sort('number_of_employees',-1).limit(20))
resultado

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [78]:
list(colec.find({'$and': [{'founded_year': {'$gte': 2000}},{'founded_year': {'$lte': 2005}}]}
                ,{'_id': 0, 'name': 1, 'founded_year': 1}).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

In [79]:
list(colec.find({'$and': [{'founded_year': {'$gte': 2000}},
                          {'founded_year': {'$lte': 2005}}]},
               
               {'_id': 0, 'name': 1, 'founded_year': 1}   
                
               ).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [103]:
# Your Code
list(colec.find({'$and': [{'ipo.valuation_amount': {'$gte': 100000000}},
                          {'founded_year': {'$lte': 2010}}]},
               
               {'_id': 0, 'name': 1, 'ipo.valuation_amount': 1}   
                
               ).limit(5))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [102]:
list(colec.find({'$and': [{'number_of_employees': {'$gte': 1000}}, {'founded_year': {'$lte': 2005}}]},
                          {'_id': 0, 'name': 1, 'founded_year': 1,'number_of_employees':1}   
                          ).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000, 'founded_year': 1847},
 {'name': 'IBM', 'number_of_employees': 388000, 'founded_year': 1896},
 {'name': 'Toyota', 'number_of_employees': 320000, 'founded_year': 1933},
 {'name': 'PayPal', 'number_of_employees': 300000, 'founded_year': 1998},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000,
  'founded_year': 1985},
 {'name': 'Samsung Electronics',
  'number_of_employees': 221726,
  'founded_year': 1969},
 {'name': 'Accenture', 'number_of_employees': 205000, 'founded_year': 2001},
 {'name': 'Tata Consultancy Services',
  'number_of_employees': 200300,
  'founded_year': 1968},
 {'name': 'Flextronics International',
  'number_of_employees': 200000,
  'founded_year': 1969},
 {'name': 'Safeway', 'number_of_employees': 186000, 'founded_year': 1915}]

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code