# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/sergiomess/anaconda3/lib/python3.8/site-packages (4.1.0)

In [1]:
from pymongo import MongoClient

cliente = MongoClient()
cliente.list_database_names()
db=cliente.companies
colec=db.companies

In [2]:
# lista de colecciones

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
query = {'name': 'Babelgum'}
campos = {"_id": 0,'name': 1}
resultado = list(colec.find(query,campos))
resultado

[{'name': 'Babelgum'}]

In [4]:
list(colec.find( {'name': 'Babelgum'},{"_id": 0,'name': 1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
list(colec.find({'number_of_employees': {'$gte': 5000}},
                {'_id': 0, 'name': 1, 'number_of_employees': 1}).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

In [6]:
query = {'number_of_employees': {'$gte': 5000}}
campos = {"_id": 0,'name': 1, 'number_of_employees':1}
resultado = list(colec.find(query,campos).sort('number_of_employees',-1).limit(20))
resultado

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [78]:
list(colec.find({'$and': [{'founded_year': {'$gte': 2000}},{'founded_year': {'$lte': 2005}}]}
                ,{'_id': 0, 'name': 1, 'founded_year': 1}).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

In [79]:
list(colec.find({'$and': [{'founded_year': {'$gte': 2000}},
                          {'founded_year': {'$lte': 2005}}]},
               
               {'_id': 0, 'name': 1, 'founded_year': 1}   
                
               ).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [103]:
# Your Code
list(colec.find({'$and': [{'ipo.valuation_amount': {'$gte': 100000000}},
                          {'founded_year': {'$lte': 2010}}]},
               
               {'_id': 0, 'name': 1, 'ipo.valuation_amount': 1}   
                
               ).limit(5))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [102]:
list(colec.find({'$and': [{'number_of_employees': {'$gte': 1000}}, {'founded_year': {'$lte': 2005}}]},
                          {'_id': 0, 'name': 1, 'founded_year': 1,'number_of_employees':1}   
                          ).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000, 'founded_year': 1847},
 {'name': 'IBM', 'number_of_employees': 388000, 'founded_year': 1896},
 {'name': 'Toyota', 'number_of_employees': 320000, 'founded_year': 1933},
 {'name': 'PayPal', 'number_of_employees': 300000, 'founded_year': 1998},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000,
  'founded_year': 1985},
 {'name': 'Samsung Electronics',
  'number_of_employees': 221726,
  'founded_year': 1969},
 {'name': 'Accenture', 'number_of_employees': 205000, 'founded_year': 2001},
 {'name': 'Tata Consultancy Services',
  'number_of_employees': 200300,
  'founded_year': 1968},
 {'name': 'Flextronics International',
  'number_of_employees': 200000,
  'founded_year': 1969},
 {'name': 'Safeway', 'number_of_employees': 186000, 'founded_year': 1915}]

### 6. All the companies that don't include the `partners` field.

In [145]:
# Your Code
list(colec.find({'partners':{'$exists':'null'}},{'_id': 0, 'name': 1, 'partners': 1}).limit(3))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []}]

In [144]:
list(colec.find({'partners':{'$exists': 'null'}}, {'_id':0, 'name':1}).limit(3))

[{'name': 'Wetpaint'}, {'name': 'AdventNet'}, {'name': 'Zoho'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [36]:
# Your Code
list(colec.find({'category_code':{'$exists': 'null'}}, {'_id':0, 'name':1,'category_code':1}).limit(5))

[{'name': 'Wetpaint', 'category_code': 'web'},
 {'name': 'AdventNet', 'category_code': 'enterprise'},
 {'name': 'Zoho', 'category_code': 'software'},
 {'name': 'Digg', 'category_code': 'news'},
 {'name': 'Facebook', 'category_code': 'social'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [41]:
# Your Code
list(colec.find({'employees.number_of_employees':{'$gte':100}},{'employees.number_of_employees':{'$lte': 1000}},
                                       {'_id':0, 'name':1,'employees.number_of_employees':1}))

TypeError: skip must be an instance of int

In [158]:
list(colec.find({'$and': [{'number_of_employees': {'$gte': 100}}, {'number_of_employees': {'$lte': 1000}}]},
                          {'_id': 0, 'name': 1,'number_of_employees':1}   
                          ).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [44]:
# Your Code
list(colec.find({'ipo.valuation_amount': {'$gte': 0}},
                {'_id': 0,'name':1, 'ipo.valuation_amount': 1, 'number_of_employees': 1}).limit(5))

[{'name': 'Facebook',
  'number_of_employees': 5299,
  'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter',
  'number_of_employees': 1300,
  'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp',
  'number_of_employees': 800,
  'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn',
  'number_of_employees': 4800,
  'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon',
  'number_of_employees': None,
  'ipo': {'valuation_amount': 100000000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [9]:
# Your Code
list(colec.find({'number_of_employees': {'$gte': 5000}},
                {'_id': 0, 'name': 1, 'number_of_employees': 1}).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [18]:
# Your Code
list(colec.find({'founded_month': {'$gt':7}},
                {'_id': 0, 'name': 1, 'founded_month': 1}).limit(10)) #lo deje en 10 por no hacer un print infinito

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [45]:
# Your Code
list(colec.find({'$and':[{'founded_year': {'$lt':2000}},{'acquisition.price_amount': {'$gte':1000000}}]},
                {'_id': 0, 'name': 1, 'acquisition.price_amount': 1,'founded_year':1}).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [46]:
# Your Code
list(colec.find({'acquisition.acquired_year': {'$gte': 100}},
                          {'_id': 0, 'name': 1,'acquisition.acquired_year':1}   
                          ).limit(10))

[{'name': 'Wetpaint', 'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg', 'acquisition': {'acquired_year': 2012}},
 {'name': 'Postini', 'acquisition': {'acquired_year': 2007}},
 {'name': 'Geni', 'acquisition': {'acquired_year': 2012}},
 {'name': 'Flektor', 'acquisition': {'acquired_year': 2007}},
 {'name': 'StumbleUpon', 'acquisition': {'acquired_year': 2009}},
 {'name': 'Gizmoz', 'acquisition': {'acquired_year': 2009}},
 {'name': 'Lala', 'acquisition': {'acquired_year': 2009}},
 {'name': 'Helio', 'acquisition': {'acquired_year': 2008}},
 {'name': 'Joost', 'acquisition': {'acquired_year': 2009}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [63]:
# Your Code
a= list(colec.find({'founded_year': {'$ne':None}},
                          {'_id': 0, 'name': 1,'founded_year':1}   
                          ).sort('founded_year',-1))

a[0:9]

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [66]:
# Your Code
list(colec.find({'founded_day': {'$lte': 7}},
                          {'_id': 0, 'name': 1,'founded_day':1}   
                          ).sort('founded_day',-1).limit(10))

[{'name': 'Google', 'founded_day': 7},
 {'name': 'Driftr', 'founded_day': 7},
 {'name': 'Sharetivity', 'founded_day': 7},
 {'name': 'blinkbox music', 'founded_day': 7},
 {'name': 'Meetup', 'founded_day': 7},
 {'name': '5pm', 'founded_day': 7},
 {'name': 'YouNoodle', 'founded_day': 7},
 {'name': 'LimeAll', 'founded_day': 7},
 {'name': 'Rakuten', 'founded_day': 7},
 {'name': 'Jive Software', 'founded_day': 7}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [71]:
list(colec.find({'$and': [{'category_code': 'web'}, {'number_of_employees': {'$gt': 4000}}]},
                          {'_id': 0, 'name': 1, 'category_code': 1,'number_of_employees':1}   
                          ).sort('number_of_employees').limit(10))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [77]:
# Your Code
list(colec.find({'$and': [{'acquisition.price_amount':{'$gt':10000000}} , {'acquisition.price_currency_code':'EUR'}]},
                          {'_id': 0, 'name': 1, 'acquisition.price_amount': 1,'acquisition.price_currency_code':1}   
                          ).limit(10))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code